@import "./colors";
@import "./sizes";

@mixin respond($breakpoint) {
  @if ($breakpoint == "desktop") {
    @media (max-width: 1200px) {
      @content;
    }
  }
  @if ($breakpoint == "ipad") {
    @media (max-width: 1080px) {
      @content;
    }
  }
  @if ($breakpoint == "phone") {
    @media (max-width: 600px) {
      @content;
    }
  }
}

%btn {
  padding: 4px 16px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 0;
  color: $white;
}

%flex_c {
  display: flex;
  align-items: center;
  justify-content: center;
}

%line{
  width: 40px;
  height: 2px;
  background: $main;
}

@mixin container($padding: 0) {
  width: 100%;
  max-width: 1080px;
  padding-inline: $padding;
  margin: 0 auto;
}

%title {
  h2 {
    font-size: 18px;
    font-weight: 500;
    color: rgba($white, 0.6);
  }
  h3 {
    font-size: 34px;
    text-transform: uppercase;
    color: $white;
    span {
      color: $main !important;
    }
  }
  span.span_title {
    width: 40px;
    height: 2px;
    background: $main;
  }
}
