@import "./globle";
.Container_box{
    width: 100vw;
    max-width: $w;
    background: transparent;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: transparent;
        top: 0;
        z-index: 3;
        //box-shadow: inset 0 -25px rgb(0, 0, 0);
        //pointer-events: none;
    }
    .map{
        height: 360px;
        filter: grayscale(20%);
    }
}