@import "./globle";
.form_pricing {
    height: 100dvh;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    inset: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    .form_input {
        width: 96vw;
        max-width: 560px;
        height: 90vh;
        max-height: 750px;
        background: lighten($black, 2%);
        //border: 1px solid rgba($white, 0.7);
        position: relative;
        display: flex;
        flex-direction: column;
        gap: $gap;
        padding-inline: $gap * 2;
        .close {
            position: absolute;
            width: 28px;
            aspect-ratio: 1;
            top: 0;
            right: 0;
            transform: translate(50%, -50%);
            background: $main;
            cursor: pointer;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            i {
                color: $gray;
                font-size: 20px;
            }
        }
        h2 {
            color: $white !important;
            text-align: center;
            padding: 80px 0 40px;
            font-size: 26px;
        }
        form.plan {
            //background: red;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: $gap;

            grid-template-rows: min-content min-content min-content;
            .box {
                min-height: 1px;
                //background: blue;
                display: flex;
                flex-direction: column;
                gap: 10px;
                .inputs_sexe {
                    //background: red;
                    height: 40px;
                }
                &_email {
                    grid-column: 1/3;
                    //grid-row: 2/3;
                }
                &_phone {
                    grid-column: 1/3;
                    //grid-row: 2/3;
                }
                &_date {
                    grid-column: 1/3;
                    //grid-row: 2/3;
                }
                &_submit {
                    flex-direction: row-reverse;
                    //background: red;
                    grid-column: 1/3;
                    gap: $gap;
                    margin-top: $gap;
                    button {
                        height: 40px;
                        flex: 1;
                        border: none;
                        cursor: pointer;
                        font-size: 14px;
                        text-transform: uppercase;
                        &[type="submit"] {
                            background: $main;
                            color: $white;
                        }
                        &[type="reset"] {
                            background: transparent;
                            color: $main;
                            border: 1px solid $main;
                        }
                    }
                }

                label {
                    color: rgba($white, 0.7);
                    font-size: 12px;
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    text-transform: capitalize;
                    i {
                        font-size: 16px;
                        color: rgba($white, 0.5);
                    }
                }
                input {
                    height: 40px;
                    padding-inline: 10px;
                    background: transparent;
                    border: 1px solid rgba(255, 255, 255, 0.5);
                    color: rgba($white, 0.7);
                    font-size: 14px;
                    appearance: none;
                }
                .inputs_date {
                    height: 40px;
                    padding-inline: 10px;
                    //background: red;
                    display: flex;
                    padding: 0;
                    gap: $gap;
                    input {
                        width: calc(((100% - $gap) / 3)) !important;

                        &::-webkit-outer-spin-button,
                        &::-webkit-inner-spin-button {
                            /* display: none; <- Crashes Chrome on hover */
                            -webkit-appearance: none;
                            margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
                        }

                        &[type="number"] {
                            -moz-appearance: textfield; /* Firefox */
                        }
                    }
                }
            }
        }
    }
}

@include respond("phone") {
    .form_pricing {
        padding-inline: $gap;

        .form_input {
            border: none;
            form.plan {
                display: grid;
                grid-template-columns: 1fr;
                gap: 20px;

                grid-template-rows: repeat(7, min-content);

                .box {
                    grid-column: 1/2;
                    //background: red;
                }
            }
        }
    }
    .form_pricing .form_input h2 {
        padding-block: 40px;
    }
    .form_pricing .form_input {
        height: 90vh;
        max-height: 840px;
        overflow-x: hidden;
        overflow-y: scroll;
        padding-inline: $gap;
        padding-bottom: $gap * 3;
        padding-top: $gap;
    }

    .form_pricing .form_input .close {
        position: absolute;
        width: 24px;
        border: none;
        background: $main;
        top: 10px;
        right: 10px;
        transform: translate(0, 0);
    }
    .form_pricing .form_input form.plan .box input {
        height: 36px;
    }
    .form_pricing .form_input form.plan .box_submit button {
        height: 36px;
    }

    .form_pricing .form_input form.plan .box_submit button {
        font-size: 12px;
    }
}
