@import "./globle";
.nav {
  @include container();
  height: 80px;
  //background: red;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  ul.nav_ul {
    display: flex;
    gap: $gap * 2;
    li {
      a {
        color: $white;
        font-size: 16px;
        font-weight: 500;
        position: relative;
        span{
            position: absolute;
            width: 0;
            height: 4px;
            bottom: -10px;
            background: $main;
            border-radius: 2px;
            transition: all .3s ease-in-out;
        }

        &:hover span{
            width: 100%;
        }
      }
    }
  }
  button {
    background: transparent;
    border: none;
    cursor: pointer;
  }
}

@include respond("phone") {
  .nav {
    @include container($gap);
  }
  ul.nav_ul {
    display: none !important;
  }
}
