@import "./globle";
.working_timings {
  @include container();
  height: auto;
  //background: red;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: $gap;

  .table_timings {
    grid-column: 1/4;
    background: $black;

    table,
    td,
    th {
      border: 1px solid transparent;
      height: 44px;
      color: $white;
      font-size: 14px;
    }

    table {
      border-collapse: collapse;
      width: 100%;

      thead{
        display: none;
      }

      td {
        padding-inline: $gap;
      }
      
      tr:nth-child(even) {
        background-color: $black;
      }
      tr:nth-child(odd) {
        background-color: lighten($black, 2%);
      }

      tr{
        td:nth-child(1){
            //border-right: 1px solid rgba($white, 0.2);
            width: 50% !important;
            
        }
        box-shadow: inset 4px 0 rgba($white, 0);
        &.active{

            //box-shadow: inset 4px 0 $main;
            
            td{
                color: $main !important;
            }
            
        }
      }

      .arrow_right {
        i {
          color: rgba($white, 0.2);
          font-size: 20px;
        }
      }
    }
  }
}

@include respond("phone") {
  .working_timings {
    //background: red;
    @include container($gap);
  }
}
